.container {
  display: flex;
  margin-left: 6em;
  margin-right: 6em;
}

header>img {
  display: flex;
  margin-right: auto;
}

header>nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 1em;
  font-weight: 600;
}


/* unvisited link */
a:link {
  text-decoration: none;
  color: #000;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: #000;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #f4ce14;
}

/* selected link */
a:active {
  text-decoration: none;
  color: #000;
}

/* Homepage - Promotion */
.promotion {
  background-color: #495e57;
  display: grid;
}

.promotion-img {
  text-align: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.promotion-image {
  border-radius: 2%;
}

.promotion-text {
  width: 180%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3,
p {
  color: #000;
}

.promotion-text>h1 {
  color: #f4ce14;
}

.promotion-text>h2 {
  margin-top: -1em;
}

button {
  background-color: #f4ce14;
  border-radius: 1rem;
  font-size: 24px;
  font-family: 'Markazi Text', serif;
  cursor: pointer;
}

button:disabled{
  cursor: not-allowed;
}

.text-light {
  color: #fff;
}

.specials {
  display: flex;
  justify-content: space-between;
}

.specials>button {
  margin-top: 2em;
  margin-bottom: 2em;
}

.width-30 {
  width: 30%;
  background-color: #f4f4f4;
  border-radius: 3%;
  height: fit-content;
}

.width-30 > img {
  border-top-right-radius:  3%;
  border-top-left-radius:  3%;
  /* height: 30%; */
}

.special-container{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.item-1{
  margin-left: 3em;
  margin-right: 3em;
}

.specials-content{
  min-height: 33em;
  flex-grow: 1;
  /* width: 100%; */
}

.special-container > h2{
  display: flex;
  float: left;
}
.price {
  float: right !important;
}

.special-container > p {
  display: inline-block;
}

.testimonials-container {
  display: grid;
  margin-top: 1em;
}

.testimonials {
  background-color: #495e57;
}

.testimonials-h{
  text-align: center;
  color: #fff;
}

.review {
  background-color: #fff;
  width: 300px;
  margin-left: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 1%;
}

.profile-img {
  border-radius: 50%;
}

.review > img{
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
}


.testimonials-content{
  display: flex;
  margin-bottom: 3em;
}

.p-img-1{
  width: 40%;
  margin-top: 7em;
  display: block;
  margin-left: 20em;
}
.p-img-2{
  margin-top: -8em;
  width: 40%;
  display: inline-block;
}

.w-200{
  width: 200%;
}

footer {
  background-color: #f4f4f4;
}

.footer-container{
  display: flex;
  margin-top: 3em;
  margin-bottom: 8em;
}

.footer-nav{
  display: flex;
  margin-left: 3em;
}

.footer-nav ul {
  list-style: none;
  text-align: left;
}

.footer-nav li {
  font-weight: 600;
}

.nav-links-1{
  margin-left: 10em;
}
.nav-links-2{
  margin-left: 10em;
}
.nav-links-3{
  margin-left: 10em;
}

.not-found-container{
  background-color: #495e57;
}

.not-found{
    min-height: 600px;
    display: flex;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 100px;
    margin: auto;
}

.not-found > h1 {
  color: #f4ce14;
}

.reservation-section{
  background-color:#495e57
}

.reservation-container > img {
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2%;
}

.reservation-container > form {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 5em;
  color: #f4f4f4;
}

.form-element {
  display: grid;
  grid-template-columns: 200px repeat(auto-fill, 100px) 300px;
}

.bookNow {
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #f4ce14;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #fff;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-open{
  display: block; 
}
