.container {
  display: flex;
  margin-left: 6em;
  margin-right: 6em;
}

header>img {
  display: flex;
  margin-right: auto;
}

header>nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 1em;
  font-weight: 600;
}


/* unvisited link */
a:link {
  text-decoration: none;
  color: #000;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: #000;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #f4ce14;
}

/* selected link */
a:active {
  text-decoration: none;
  color: #000;
}

/* Homepage - Promotion */
.promotion {
  background-color: #495e57;
  display: grid;
}

.promotion-img {
  text-align: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.promotion-image {
  border-radius: 2%;
}

.promotion-text {
  width: 180%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
p {
  color: #000;
}

.promotion-text>h1 {
  color: #f4ce14;
}

.promotion-text>h2 {
  margin-top: -1em;
}

button {
  background-color: #f4ce14;
  border-radius: 1rem;
  font-size: 24px;
  font-family: 'Markazi Text', serif;
  cursor: pointer;
}

button:disabled{
  cursor: not-allowed;
}

.text-light {
  color: #fff;
}

.specials {
  display: flex;
  justify-content: space-between;
}

.specials>button {
  margin-top: 2em;
  margin-bottom: 2em;
}

.width-30 {
  width: 30%;
  background-color: #f4f4f4;
  border-radius: 3%;
  height: fit-content;
}

.width-30 > img {
  border-top-right-radius:  3%;
  border-top-left-radius:  3%;
  /* height: 30%; */
}

.special-container{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.item-1{
  margin-left: 3em;
  margin-right: 3em;
}

.specials-content{
  min-height: 33em;
  flex-grow: 1;
  /* width: 100%; */
}

.special-container > h2{
  display: flex;
  float: left;
}
.price {
  float: right !important;
}

.special-container > p {
  display: inline-block;
}